{% extends 'base.html' %}
{% block head %}
{{block.super}}
<script type="text/javascript" src="/static/js/jquery-1.12.4.min.js"></script>
<script>
	$(function(){
	    $('.add').click(function(){
	        var pre_num = $('.num_show').val();
	        if(pre_num >= parseInt('{{goods.gstore}}')){
	            $('.num_show').val('{{goods.gstore}}');
	            t_price = parseInt('{{goods.gstore}}')*parseFloat('{{goods.gprice}}');
			}else{
                pre_num ++;
                $('.num_show').val(pre_num);
                t_price = parseFloat('{{goods.gprice}}')*pre_num;
			}
            $('.total').children().text(t_price.toFixed(2));
		});
	    $('.minus').click(function(){
	        var pre_num = $('.num_show').val();
            if(pre_num <= 1){
                $('.num_show').val(1);
                t_price = parseFloat('{{goods.gprice}}');
            }else{
                pre_num --;
                $('.num_show').val(pre_num);
                t_price = parseFloat('{{goods.gprice}}')*pre_num;
			}
            $('.total').children().text(t_price.toFixed(2));
		});
	    $('.num_show').blur(function(){
	        var pre_num = parseInt($('.num_show').val());
	        if(isNaN(pre_num)||pre_num<=1){
				$('.num_show').val(1);
                t_price = parseFloat('{{goods.gprice}}');
			}
			if(pre_num>=parseInt('{{goods.gstore}}')){
	            $('.num_show').val('{{goods.gstore}}')
                t_price = parseInt('{{goods.gstore}}')*parseFloat('{{goods.gprice}}');
			}else{
                $('.num_show').val(pre_num);
                t_price = parseFloat('{{goods.gprice}}')*pre_num;
			}
            $('.total').children().text(t_price.toFixed(2));
		});
	});
</script>
{% endblock head %}
{% block main %}
	<div class="navbar_con">
		<div class="navbar clearfix">
			<div class="subnav_con fl">
				<h1>全部商品分类</h1>	
				<span></span>			
				<ul class="subnav">
					<li><a href="#" class="fruit">新鲜水果</a></li>
					<li><a href="#" class="seafood">海鲜水产</a></li>
					<li><a href="#" class="meet">猪牛羊肉</a></li>
					<li><a href="#" class="egg">禽类蛋品</a></li>
					<li><a href="#" class="vegetables">新鲜蔬菜</a></li>
					<li><a href="#" class="ice">速冻食品</a></li>
				</ul>
			</div>
			<ul class="navlist fl">
				<li><a href="">首页</a></li>
				<li class="interval">|</li>
				<li><a href="">手机生鲜</a></li>
				<li class="interval">|</li>
				<li><a href="">抽奖</a></li>
			</ul>
		</div>
	</div>

	<div class="breadcrumb">
		<a href="#">全部分类</a>
		<span>></span>
		<a href="#">新鲜水果</a>
		<span>></span>
		<a href="#">商品详情</a>
	</div>

	<div class="goods_detail_con clearfix">
		<div class="goods_detail_pic fl"><img src="/static/{{goods.gpic}}"></div>

		<div class="goods_detail_list fr">
			<h3>{{goods.gtitle}}</h3>
			<p>{{goods.gsubtitle}}</p>
			<div class="prize_bar">
				<span class="show_pirze">¥<em>{{goods.gprice}}</em></span>
				<span class="show_unit">单  位：{{goods.gunit}}</span>
			</div>
			<div class="goods_num clearfix">
				<div class="num_name fl">数 量：</div>
				<div class="num_add fl">
					<input type="text" class="num_show fl" value="1">
					<input type="hidden" value="{{goods.id}}" id="gid">
					<a href="javascript:;" class="add fr">+</a>
					<a href="javascript:;" class="minus fr">-</a>	
				</div> 
			</div>
			<div class="total">总价：<em>16.80元</em></div>
			<div class="operate_btn">
				<a href="javascript:;" class="buy_btn">立即购买</a>
				<a href="javascript:;" class="add_cart" id="add_cart">加入购物车</a>
			</div>
		</div>
	</div>

	<div class="main_wrap clearfix">
		<div class="l_wrap fl clearfix">
			<div class="new_goods">
				<h3>新品推荐</h3>
				<ul>
                    {% for item in new_list %}
					<li>
						<a href="#"><img src="/static/{{item.gpic}}"></a>
						<h4><a href="#">{{item.gtitle}}</a></h4>
						<div class="prize">￥{{item.gprice}}</div>
					</li>
					{% endfor %}
				</ul>
			</div>
		</div>

		<div class="r_wrap fr clearfix">
			<ul class="detail_tab clearfix">
				<li class="active">商品介绍</li>
				<li>评论</li>
			</ul>

			<div class="tab_content">
				<dl>
					<dt>商品详情：</dt>
					<dd>{{goods.gcontent|safe}}</dd>
				</dl>
			</div>

		</div>
	</div>
{% endblock main %}
{% block footer %}
	<div class="add_jump"></div>


	<script type="text/javascript" src="/static/js/jquery-1.12.4.min.js"></script>
	<script type="text/javascript">

        var info_id = $('#gid').val();

		$('#add_cart').click(function(){
            var count = $('.num_show').val();
		    $.get('/cart/add/',{'info_id':info_id, 'count':count},function(data){
		        var $add_x = $('#add_cart').offset().top;
                var $add_y = $('#add_cart').offset().left;

                var $to_x = $('#show_count').offset().top;
                var $to_y = $('#show_count').offset().left;
                $(".add_jump").css({'left':$add_y+80,'top':$add_x+10,'display':'block'})

                $(".add_jump").stop().animate({
                    'left': $to_y+7,
                    'top': $to_x+7},
                    "fast", function() {
                        $(".add_jump").fadeOut('fast',function(){
                            $('#show_count').html(data.data);
                        });

                });
			});

		})
	</script>
{% endblock footer %}
