{% extends 'base.html' %}
{% block head %}
{{block.super}}
<script src="/static/js/jquery-1.12.4.min.js"></script>
<script>
    function add_cart(gid){
		    $.get('/cart/add/',{'info_id':gid},function(data){
                $('#show_count').html(data.data);
            });
	}
	/*
	// 采用ajax方法跟进价格、人气上的点击事件的数据更新
    $(function(){
        // 避开csrf拦截
        $.ajaxSetup({
            data: {csrfmiddlewaretoken: '{{csrf_token}}'},
		});

        $('.sort_bar').delegate('a','click',function(){
            $(this).addClass('active').siblings().removeClass('active');
            var Val = $(this).text();
            var Type_id = '{{t_x.id}}'
            $.post('/list_check/',{'val':Val,'id':Type_id},function(data){
                $('.goods_type_list').html(data.a)
            });
        });
    });
    */
</script>
{% endblock head %}
{% block main %}

	<div class="navbar_con">
		<div class="navbar clearfix">
			<div class="subnav_con fl">
				<h1>全部商品分类</h1>	
				<span></span>			
				<ul class="subnav">
					<li><a href="/list1_1_1/" class="fruit">新鲜水果</a></li>
					<li><a href="/list2_1_1/" class="seafood">海鲜水产</a></li>
					<li><a href="/list3_1_1/" class="meet">猪牛羊肉</a></li>
					<li><a href="/list4_1_1/" class="egg">禽类蛋品</a></li>
					<li><a href="/list5_1_1/" class="vegetables">新鲜蔬菜</a></li>
					<li><a href="/list6_1_1/" class="ice">速冻食品</a></li>
				</ul>
			</div>
			<ul class="navlist fl">
				<li><a href="/">首页</a></li>
				<li class="interval">|</li>
				<li><a href="">手机生鲜</a></li>
				<li class="interval">|</li>
				<li><a href="">抽奖</a></li>
			</ul>
		</div>
	</div>

	<div class="breadcrumb">
		<a href="#">全部分类</a>
		<span>></span>
		<a href="#">{{t_x.ttitle}}</a>
	</div>

	<div class="main_wrap clearfix">
		<div class="l_wrap fl clearfix">
			<div class="new_goods">
				<h3>新品推荐</h3>
				<ul>
					{% for item in new_list %}
					<li>
						<a href="/{{item.id}}/"><img src="/static/{{item.gpic}}"></a>
						<h4><a href="/{{item.id}}/">{{item.gtitle}}</a></h4>
						<div class="prize">￥{{item.gprice}}</div>
					</li>
					{% endfor %}
				</ul>
			</div>
		</div>

		<div class="r_wrap fr clearfix">
			<div class="sort_bar">
				{% load filters %}
				<a href="/list{{t_x.id}}_1_1/" {%if sorts == '1'%} class="active" {%endif%}>默认</a>
				<a href="/list{{t_x.id}}_1_2/?desc={{desc|multi}}" {%if sorts == '2'%} class="active" {%endif%}>价格</a>
				<a href="/list{{t_x.id}}_1_3/" {%if sorts == '3'%} class="active" {%endif%}>人气</a>
			</div>

			<ul class="goods_type_list clearfix">
                {% for item in p_index %}
				<li>
					<a href="/{{item.id}}/"><img src="/static/{{item.gpic}}"></a>
					<h4><a href="/{{item.id}}/">{{item.gtitle}}</a></h4>
					<div class="operate">
						<span class="prize">￥{{item.gprice}}</span>
						<span class="unit">{{item.gprice}}/{{item.gunit}}</span>
						<a href="javascript:add_cart({{item.id}});" class="add_goods" title="加入购物车"></a>
					</div>
				</li>
				{% endfor %}
			</ul>

			<div class="pagenation">
				{% if p_index.has_previous %}
				<a href="/list{{t_x.id}}_{{p_index.number|add:-1}}_{{sorts}}/">上一页</a>
				{% endif %}
				{% for index in p_index.paginator.page_range %}
                {% if index == p_index.number %}
				<a href="#" class="active">{{index}}</a>
				{% else %}
				<a href="/list{{t_x.id}}_{{index}}_{{sorts}}/">{{index}}</a>
				{% endif %}
                {% endfor %}
				{% if p_index.has_next %}
				<a href="/list{{t_x.id}}_{{p_index.number|add:1}}_{{sorts}}/">下一页></a>
				{% endif %}
			</div>
		</div>
	</div>

{% endblock main %}
{% block footer %}
<div class="add_jump"></div>
{% endblock footer %}
